* {
    box-sizing: border-box
}

body {
    background-color: #D3D3D3;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
}

.container {
    background-color: white;
    width: 60%;
    margin: 1rem  auto;
    border: 1px solid black;
    font-family: 'Oswald', sans-serif;
}

.firstSection {
    margin: 1rem 3rem;
    background-color: #EEEEEE;
    padding: 1rem;
    font-weight: 300;
}

.secondSection {
    
}

footer {
    background-color: #EEEEEE;
    margin: 1.5rem 1rem;
    font-weight: 300;
}

h1, h2, h3, footer, img {
    text-align: center;
    padding: 1.5rem 0;
}

h2 {
    font-size: 2rem;
    font-weight: bold;
    padding-top: 1rem;
    
}

h3 {
    font-size: 1.5rem;
    font-weight: bold;
    color: #8B0000;
}

.hc {
    margin: 0rem auto;
    display: block;
    width: 50%;
    

}

.hcLogo {
    display: block;
    margin: 1rem auto;
    padding: 0rem;
    width: 15%;
}

h1 {
    font-weight: bold;
    font-size: 4rem;
    border-top: 2px solid #8B0000;
    border-bottom: 2px solid #8B0000;
    margin: 0 1rem;
    padding: .8rem;
}

p {
    margin-bottom: 1rem;
    line-height: 1rem;
}

.firstP {
    padding-bottom: 1rem;
    border-bottom: 1px solid black;
}

.secondP {
    font-style: italic;
    text-align: center;
    font-weight: 200;
}

.pastille{
    background-color: black;
    color: white;
    font-size: 17px;
    margin-left: .7rem;
}

.heroCorp {
    font-weight: bold;
}

.footerP {
    padding-top: 0rem;
    padding-bottom: 2.5rem;
}

ul {
    text-align: center;
}

li {
    background-color: #EEEEEE;
    margin: .5rem 3rem;
    padding: .5rem;
    border-radius: 30px;
    color: #8B0000;
}

li:hover {
    background-color: #991f1f;
    color: #eee;
}

.thirdSection {
    margin: 1rem 3rem;
    padding: 1rem;
    text-align: center;
}

.titleS3 {
    color: #8B0000;
    font-weight: bold;
    margin-bottom: 1rem;
}

.serie {
    border: 1px solid #D3D3D3;
    width: 40%;
    margin-bottom: 1rem;
    margin: 1rem auto;
    
}

.picture {
    width: 50%;
}